@model List<Pelicula>

<h1>ListarPelis</h1>

<table>
    <thead>
        <tr>
            <th>TITULO</th>
            <th>PRECIO</th>
            <th>CARTEL</th>
            <th>--</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pelicula p in Model)
        {
        <tr>
            <td>@p.Titulo</td>
            <td>@p.Precio</td>
            <td>@p.Foto</td>
            <td> <a asp-action="DetallePeli" asp-controller="Home" asp-route-id="@p.Id">Ver Detalles</a> </td>
        </tr>
        }

    </tbody>
</table>