@{

    List<Cesta> cestita = Context.Session.GetObject<List<Cesta>>("CESTA");

}

<h1>VerCesta</h1>

    <ul class="list-group">
        @if (cestita != null)
        {
            @foreach (Cesta c in cestita)
            {
                <li class="list-group-item"> Producto: @c.IdPelicula  <a asp-controller="Home" asp-action="EliminarPeli" asp-route-id="@c.IdPelicula">eliminar</a>   </li>
            }
        }
        
    </ul>
    <a asp-action="comprar" asp-controller="home"  class="btn btn-success">comprar</a>
